.card {
    height: 100px;
    width: 100px;
    border: 1px solid pink;
    border-radius: 10px;
}

.card.--facedown {
    background-color: pink;
}

.card.--faceup {
    background-color: green;
}

.card.--matched {
    background-color: gray;
}